/* section home start */
#home {
    width: 100%;
    height: 1000px;
    background-image: url("/assets/hero-bg3.jpg");
    position: relative;
    overflow: hidden;
    z-index: 999;
}

.svg-top {
    position: absolute;
    top: -35%;
    left: -8%;
}

.svg-top-right {
    position: absolute;
    top: -27%;
    left: 12%;
}

.svg-bottom {
    position: absolute;
    bottom: -20%;
    right: -3%;
}

.svg-bottom-top {
    position: absolute;
    bottom: -17%;
    right: -28.5%;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.header-nav {
    width:500px;
}

.header-nav ul {
    width: inherit;
    position: relative;
}

.header-nav ul li:hover a{
    color: var(--primary-color);
    transition: all .3s ease-in-out;
}

.header-nav li:first-child a {
    color: var(--primary-color)
}

.header-nav li a {
    letter-spacing: .5px;
}

.header-nav ul li:first-child {
    position: relative;
}

.header-nav ul li:nth-child(3){
    position: relative;
}

.header-nav ul li:nth-child(4){
    position: relative;
}

.header-nav ul li .subnav {
    width: 270px;
    display: none;
    position: absolute;
    top: 89px;
    left: -25px;
}

.header-nav ul li .subnav ul li a {
    color: var(--secondary-color);
}

.header-nav ul li:first-child .subnav ul li:first-child a {
    color: var(--primary-color);
}

.header-nav ul li .subnav ul li:first-child {
    margin: 15px 0 0 0;
}

.header-nav ul li .subnav ul li a:hover {
    color: var(--primary-color);
}

.subnav li:last-child {
    margin: 0 0 15px 0;
}

.header-nav ul li:hover .subnav {
    display: block;
}

.header-icons {
    width: 300px;
}

.bucket {
    position: relative;
}

.bucket-icon-amount {
    width: 17px;
    height: 17px;
    position: relative;
    top: -11px;
    right: 6px;
}

.bucket-icon a {
    transition: all .3s linear;
}

.bucket-icon a:hover {
    color: var(--primary-color);
}

.loop {
    height: 30px;
    border-left: 1px solid rgb(232, 230, 230);
}

.loop-icon a {
    transition: all .3s linear;
}

.loop-icon a:hover {
    color: var(--primary-color);
}

.navbar-btn a {
    padding: 12px 0;
    border: none;
    position: relative;
    z-index: 0;
}

.navbar-btn::before {
    content: "";
    width: 0;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.navbar-btn::after {
    content: "";
    width: 0;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

.navbar-btn:hover::before {
    width: 190px;   
}

.navbar-btn:hover::after {
    width: 190px;
}

.navbar-btn:hover a {
    z-index: 1;
}

.home-text {
    width: 600px;
    position: absolute;
    top: 27%;
    left: 7.5%;
}

h2 {
    letter-spacing: .5px;
}

h1 {
    font-size: 65px;
    letter-spacing: 1px;
    line-height: 70px;
}

.text-bottom h2 {
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: "Teachers", sans-serif;
}

.home-btn::before {
    content: "";
    width: 0;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.home-btn::after {
    content: "";
    width: 0;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

.home-btn:hover::before {
    width: 220px;   
}

.home-btn:hover::after {
    width: 220px;
}

.home-btn:hover a {
    z-index: 1;
}

/* section home end */

/* section service start */
#service {
    background-image: url("/assets/service-bg3.jpg");
}

.container {
    position: relative;
    z-index: 9999;
}

.service-row {
    position: relative;
    bottom: 120px;
}

.service-item {
    width: 310px;
    height: 410px;
    border-radius: 12px;
    margin: 0 22px 0 0;
}

.service-icon {
    width:inherit;
}

.service-icon img {
    width: 20%;
    height:100%;
}

.service-item:first-child .service-icon img {
    width:16%;
}

.service-item:first-child .service-header {
    margin:22px 0 0 0;
}

.service-header a {
    font-size: 22px;
    line-height: 30px;
    transition: all 0.3s linear
}

.service-header a:hover {
    color: var(--primary-color);
}

p {
    color: rgb(76, 77, 86);
    word-spacing: -0.5px;
    letter-spacing: .5px;
    line-height: 28px;
}

.link-icon {
    width:40px;
    height: 40px;
    background-color: #ebebeb;
}

.service-item .link-icon i{
    transform: rotate(0deg);
    transition: all .4s ease-in-out;
}

.service-item:hover .link-icon i{
    transform: rotate(90deg);
    transition: all .4s ease-in-out;
}

.link-btn{
    padding: 12px;
}

.link-btn a {
    color: #333;
    transition: all 0.3s linear;
}

.link-btn a:hover {
    color: var(--primary-color);
}

/* section service end */

/* section about start */
#about {
    position: relative;
}

.statistics {
    position: relative;
    top: 115px;
}

.about-text {
    width: 507px;
}

.about-text h4 {
    letter-spacing: 1px;
}

.about-text h1 {
    font-size: 43px;
    line-height: 50px;
    letter-spacing: .5px;
}

.about-text p {
    color: rgb(76, 77, 86);
    letter-spacing: -0.2px;
    line-height: 28px;
}

.about-contact {
    border-top: 2px solid rgb(236, 232, 232);
}

.contact-sign {
    border-right: 1px solid rgb(236, 232, 232);
}

.director .position {
    color: #4c4d56;
}

.contact-number .number {
    font-size: 22px;
}

.about-images {
    width: 760px;
    position: relative;
}

.img-left{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-left img{
    width: 54%;
    height: 100%;
}

.img-bottom {
    width: 56%;
    height: 58%;
    position: absolute;
    top: 37%;
    left: 14%;
    z-index: 1;
    border: 8px solid white;
}

.img-bottom img{
    width: 100%;
    height: 100%;
}

.about-images .live-btn {
    width: 80px;
    height: 80px;
    background: linear-gradient(195deg, #086ad8 0%, #42b9ff 100%);
    position: absolute;
    top:14%;
    left: 29%;
    z-index: 1;
} 

.about-images .live-btn a::before {
    content: "";
    border: 2px solid #086ad8;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    animation: zoombig 3.25s linear infinite; 
    animation-delay: .8s
}

.about-images .live-btn a::after {
    content: "";
    border: 2px solid #086ad8;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    animation: zoombig 3.25s linear infinite;
    animation-delay: 0s
}

@keyframes zoombig {
    0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
    }

    40% {
        opacity: .5;
        border-width: 3px;
    }
    65% {
        border-width: 2px;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        border-width: 2px;
    }
}

.about-statistics {
    width: 1267px;
    border: 1px solid #e1e1e1;
}

.statics {
    width: 317px;
}

.people{
    border-right: 1px solid #e1e1e1;
}

.statics:last-child .people {
    border-right: none;
}

.icon {
    width: 95px;
    height: 95px;
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.09);;
}

.icon img {
    width: 100%;
    height: 100%;
}

.clients .count {
    font-size: 36px;
}

.clients .text {
    font-size: 13px;
    color: #4c4d56;
    letter-spacing: -0.5px;
}
/* section about end */

/* section choose start */
#choose {
    background-image: url("/assets/choose-us-bg.jpg");
}

.choose-box {
    padding: 8% 0 10% 0;
}

.choose-title .title span {
    letter-spacing: 0.5px;
}

.choose-title .title h1 {
    width: 600px;
    font-size: 48px;
    line-height: 55px;
}

.choose-items {
    width: 1267px;
    height: 464px;
    position: relative;
    text-overflow: clip;
    white-space: normal;
    overflow: hidden; 
}

.choose-item {
    width: 423px;
    height: 100%;
    position: relative;
}

.choose-item a::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(249, 80, 0, 0) 35%, rgba(14, 14, 14, 0.92) 78%);
}


.choose-image {
    position: absolute;
    top: 0;
    left: 0;
}

.choose-image img {
   width: 100%;
   height: 100%;
}

.item-detail {
    position: relative;
    top: 10%;
    transition: all .4s ease-in-out;
}

.choose-item:hover .item-detail {
    top:-14%;
}

.item-detail p {
    width: 68%;
    line-height: 24px;
    letter-spacing: -0.1px;
    position: relative;
    z-index: -1;
}

.choose-item:hover p {
    z-index: 1;
}

.item-detail h3 {
    width: 60%;
    position: relative;
    font-size: 24px;
}

.item-detail h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    background: linear-gradient(-160deg, #43baff 0%, #7141b1 100%);
    width: 3px;
    height: 50px;
    transform: translateY(-50%);
}

.choose-learn span {
    word-spacing: 1px;
    color: #4c4d56;
}

.choose-learn a {
    letter-spacing: -0.5px;
}

.choose-learn a:hover i{
    margin: 0 0 0 5px;
}

.choose-learn a i {
    transition: all 0.2s ease-in-out;
}
/* section choose end */

/* section skill start */
#skill {
    padding: 110px 0;
}

.skill-explain {
    width: 628px;
}

.skill-explain h2 {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.5px;
}

.year-box {
    background: linear-gradient(-120deg, #43baff 0%, #7141b1 100%);
    max-width: 170px;
}

.year-box .year-title {
    font-size: 100px;
}

.year-box span {
    line-height: 23px;
    letter-spacing: .2px;
}

.skill-text .text-box p {
    color: rgb(76, 77, 86); 
    font-size: 15px;
    line-height: 24px;
}

.skill-text .text-box a {
    letter-spacing: -0.5px;
}

.skill-text .text-box a i {
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.skill-text .text-box a:hover i{
    margin: 0 0 0 5px;
}

.skill-performance {
    width: 628px;
}

.performance {
    width: inherit;
    height: 300px;
}

.performance-item {
    height: 50px;
}

.performance-item .performance-title{
    color:#120e1d;
    line-height: 45px;
}

.performance-item .diagram {
    width: 20px;
    height: 5px;
    position: relative;
}

.diagram::after {
    content: "";
    border-top: 15px solid rgb(0, 0, 0);
    border-right: 10px solid transparent;
    position: relative;
    top: -18px;
}

.performance-item:nth-child(2n-1) .diagram{
    width: 500px;
}

.performance-item:nth-child(4n) .diagram{
    width: 550px;
}

.performance-item:nth-child(3n-1) .diagram{
    width: 600px;
}

.diagram-number {
    width: 40px;
    height: 25px;
    position: relative;
    top: -40px;
    left: 40px;
}
/* section skill end */

/* section study start */
#study {
    width: 100%;
    height: 770px;
    background-image: url("/assets/case-study-bg.jpg");
    padding: 120px 0;
}

.title {
    width: inherit;
}

.title span {
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.title h2 {
    font-size: 48px;
    line-height: 54px;
}

.study-content img {
    width: 100%;
    height: 100%;
}

.study-img:nth-child(2) {
    margin: 0 30px;
}

.study-img {
    position: relative;
}

.study-detail {
    width: 52%;
    position: absolute;
    top: 50px;
    left: 62px;
}

.study-detail .sm-header {
    line-height: 27px;
}

.study-detail a {
    transition: all .3s ease-in-out;
}

.study-detail a:hover {
    color: var(--primary-color);
}

.study-img .main::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(21deg, #086ad8 22%, rgba(146, 152, 197, 0.17409) 40%);
    z-index: 0;
}
.study-detail h3 a span{
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 1px;
}

.study-detail h3 a span:last-child {
    margin: 3px 0 0 0;
}

.study-detail p {
    line-height: 24px;
    word-spacing: -0.8px;
    letter-spacing: -0.4px;
}

.dots-box {
    width: 60px;
}

.dot {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
}

.dot a {
    width: 7px;
    height: 7px;
}

.dot:nth-child(n+2){
    border: none;
}

.dot:nth-child(n+2) a{
    background-color: var(--info-color);
}
/* section study end */

/* section testimonial start */
#testimonial {
    width: 100%;
    padding: 120px 0;
}

.testimonial-container {
    width: inherit;
}

.testimonial-title {
    width: inherit;
}

.testimonial-title span {
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.testimonial-title h2 {
    font-size: 48px;
    line-height: 54px;
}

.slider-box {
    width: 1424px;
    height: 351px;
    overflow: hidden;
}

.testimonial-contents {
    width: 2136px;
    height: 351px;
}

.testimonial-content {
    width: 570px;
    height: 277px;
    position: relative;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.09);
    z-index: -5;
}

.content-img {
    position: relative;
    top: 40px;
    left: -40px;
}

.content-img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #086ad8;
    width: 135px;
    height: 135px;
    border-radius: 10px;
    transform: translate(5px, 5px);
    z-index: -1;
}

.content-img img {
    width: 100%;
    height: 49%;
}

.testimonial-icon img {
    width: 11%;
    height: 10%;
}

.testimonial-content-text {
    width: 440px;
}

.testimonial-content-text p {
    line-height: 32px;
    color: #4c4d56;
}

.ceo .name {
    line-height: 20px;
}

.ceo .work-place {
    line-height: 20px;
    color: #47484a;
}

.testimonial-dots-box {
    width: 60px;
}

.testimonial-dot {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.testimonial-dots a {
    width: 7px;
    height: 7px;
}

.testimonial-dot:nth-child(n+2){
    border: none;
}

.testimonial-dot:nth-child(n+2) a{
    background-color: lightgray;
}
/* section testimonial end */

/* section brand start */
.brand-container {
    width: 100%;
}

.slide-brands {
    width: 1130px;
    overflow: hidden;
}

.slides-brand {
    width: 1582px;
}

.brand-slide {
    width: 146px;
    height: 45px;
}

.brand-slide img {
    width: 100%;
    height: 100%;
}
/* section brand end */

/* section team start  */
#team {
    width: 100%;
    padding: 120px 0;
}

.team-container {
    width: inherit;
}

.team-title {
    width: inherit;
}

.team-title span {
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.team-title h2 {
    font-size: 48px;
    line-height: 54px;
}

.team-slide {
    width: 1308px;
    overflow: hidden;

}

.slides-team {
    width: 2289px;
}

.slide-team {
    width: 327px;
    height: 423px;
    position: relative;
}

.slide-team:hover .team-info-links {
    z-index: 0;
}
.slide-team:hover .team-content {
    transform: translateY(-70px);
    transition: all 0.3s linear; 
}

.slide-team:hover .team-content-info::before {
    height: 145px;
    width: 80px;
    transform: translateY(-35%);
    z-index: -1;
}

.slide-team .team-body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(249, 80, 0, 0) 35%, rgba(14, 14, 14, 0.89) 78%);
    transition: all 0.5s linear;
}

.team-content {
    position: absolute;
    bottom: 0%;
    left: 18%;
    transition: all 0.3s linear;
}

.team-content-info {
    position: relative;
}

.team-content a {
    width: 200px;
    font-size: 22px;
    line-height: 24px;
}

.team-content .team-content-info::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 20px;
    top: 34%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    transition: all 0.3s linear; 
}

.team-content-position {
    line-height: 24px;
}

.team-info-links {
    position: relative;
    z-index: -1;
}

.team-info-links ul li {
    transition: all 0.3s linear;
}
.team-info-links ul li:not(:first-child) {
    margin-left: 15px;
}

.team-info-links ul li:hover{
    transform: translateY(-5px);
}

.slide-team img {
    width: 100%;
    height: 100%;
}

.team-dots-box {
    width: 80px;
}

.team-dot {
    width: 20px;
    height: 20px;
    border: 1px solid black;

}

.team-dots a {
    width: 7px;
    height: 7px;
}

.team-dot:nth-child(n+2){
    border: none;
}

.team-dot:nth-child(n+2) a{
    background-color: lightgray;
}
/* section team end */

/* section blog start */
#blog {
    width: 100%;
}

.blog-container {
    width: 100%;
}

.blog-title {
    width: inherit;
}

.blog-title span {
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.blog-title h2 {
    font-size: 48px;
    line-height: 54px;
}

.news {
    width: 416px;
    position: relative;
}

.news:hover .news-img {
    border-radius: 10px;
} 

.news:hover img {
    transform: scale(1.1);
}

.news-img {
    width: inherit;
    height: 247px;
    overflow: hidden;
}

.news-img img {
    width: 100%;
    height: 100%;
    transition: all .3s linear;
}

.date {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 35px;
    left: 30px;
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
}

.date .day {
    font-size: 28px;
    line-height: 30px;
}

.news-container {
    width: 90%;
    position: relative;
    left: 50%;
    bottom: 10px;
    transform: translateX(-48%);
    margin-top: -40px;
}

.blog-author span i {
    font-size: 13px;
}

.blog-author span a {
    font-size: 13px;
    line-height: 24px;
    color: #999;
    transition: all 0.3s linear;
}

.blog-author span a:hover {
    color: var(--primary-color);
}

.blog-author .comments {
    font-size: 13px;
    line-height: 24px;
    color: #999;
}

.news-container h3 {
    width: 300px;

}

.news-container h3 a {
    font-size: 22px;
    line-height: 30px;
    transition: all .3s linear;
}

.news-container h3:hover a {
    color: var(--primary-color);
}

.blog-btn a{
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.blog-btn a i {
    transition: all .3s linear;
}

.blog-btn a:hover i {
    margin: 0 0 0 5px;
}
/* section blog end */


/* section cta start */
#cta {
    width: 100%;
    position: relative;
    top: 95px;
    z-index: 2;
}

.cta {
    width: 1296px;
    height: 170px;
    background-image: url("/assets/cta-bg.jpg");
}

.cta-container {
    width: inherit;
    position: relative;
}

.cta-icon {
    width: 115px;
    height: 115px;
    position: relative;
    top: -66px;
    left: 10px;
    background: #010f31;
}

.cta-icon img {
    width: 52%;
    height: 52%;
}

.cta-title p {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -1px;
}

.cta-btn a {
    font-size: 22px;
}

.cta-btn::before {
    content: "";
    width: 0;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.cta-btn::after {
    content: "";
    width: 0;
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

.cta-btn:hover::before {
    width: 230px;   
    background: var(--primary-color);
}

.cta-btn:hover::after {
    width: 230px;
    background: var(--primary-color);
}

.cta-btn:hover a {
    color: var(--info-color);
    z-index: 1;
}

/* section cta end */

/* section footer start */
#footer {
    background-image: url("/assets/footer-bg.jpg");
    position: relative;
    z-index: 1;
}

.footer {
    width: 1296px;
}

.common-links {
    width: inherit;
}

.footer-links {
    width: 220px;
}

.footer-links p {
    line-height: 30px;
    word-spacing: -0.8px;
}

.footer-links .social-links ul li a  {
    width: 35px;
    height: 35px;
    line-height: 37px;
}

.footer-links:not(:first-child) li:hover a{
    color: var(--primary-color);
    transform: translateX(10px);
}

.footer-links:last-child ul li:hover a {
    color: var(--primary-color);
}

.f-links ul li a {
    font-family: "Jost", 'sans-serif';
    font-size: 14px;
    color: #c4c5c7;
    transition: all 0.3s linear;
}

.footer-links:last-child ul li i {
    display: inline-block;
    color: var(--primary-color);
    font-size: 18px;
    margin: 2px 10px 0 0;
}

.footer-links:last-child ul li a {
    display: inline;
    font-size: 16px;
    line-height: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: #c4c5c7;
}

.footer-links:last-child ul li:last-child{
    color: #c4c5c7;
    font-size: 16px;
    line-height: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
}

.sub-footer {
    width: 100%;
    border-top: 1px solid #1b202f;
}

.sub-footer p {
    color: #c4c5c7;
}
/* section footer end */